@font-face {
    font-family: "Graph FF";
    font-style: normal;
    font-weight: 900;
    src: url(../graph-ff-condensed-black-web.woff2) format ("woff2");
    src: url(../graph-ff-condensed-black-web.woff) format ("woff");
    src: url(../graph-ff-condensed-black-web.eot) format ("eot");
}

@font-face {
    font-family: "Katwijk Mono";
    font-style: normal;
    font-weight: 400;
    src: url(../katwijk-mono-regular-web.woff2) format ("woff2");
    src: url(../katwijk-mono-regular-web.woff) format ("woff");
}